:root {
  --white-color: #ffffff;
  --basic-color-text: #212121;
  --hover-color: #2196f3;
  --button-background-color: #f5f4fa;
  --complementary-color-text: #757575;
  --contacts-footer-color: ;
  --footer-backgraund-color: #2f303a;
  --portfolio-elements: #eeeeee;
  --box-shadow: rgba(0, 0, 0, 0.15);
  --button-hero-hover-color: #188ce8;
}
/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */
.body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--body-background-color);
  color: var(--white-color);
}
.header {
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;

  background: var(--white-color);
}
/* index.html */
.hero {
  width: 1600px;

  left: 0px;
  top: 80px;

  background: var(--footer-backgraund-color);
}
.button-hero {
  border: 0;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  /* identical to box height, or 187% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--white-color);
  background: var(--hover-color);
}
.button-hero:hover,
.button-hero:focus {
  border: 0;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: var(--button-hero-hover-color);
  box-shadow: 0px 4px 4px var(--box-shadow);
}
.button-hero {
  cursor: pointer;
}
.hero h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);
}
.advantage-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--basic-color-text);
}
.advantage-paragraph {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--complementary-color-text);
}
.about-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--basic-color-text);
}
.team {
  width: 1600px;

  left: 0px;
  top: 1449px;

  background: var(--button-background-color);
}
.team-cards {
  width: 270px;
  height: 368px;
  left: 1115px;
  top: 1635px;

  background: #ffffff;
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--basic-color-text);
}
.team-title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--basic-color-text);
}
.team-paragraph-work {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--complementary-color-text);
}
/* portfolio.html */

.logo-header {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--basic-color-text);
}
.logo-web {
  color: var(--hover-color);
}
.logo-footer {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: var(--white-color);
}
.logo-web-footer {
  color: var(--hover-color);
}
.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  color: var(--basic-color-text);
}
.contacts-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  color: var(--complementary-color-text);
}
.contacts-header:hover,
.contacts-header:focus {
  color: #2196f3;
}
.contacts-footer {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.nav-button {
  outline: none;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--basic-color-text);
  background: var(--button-background-color);
}
.header-nav-link:hover,
.header-nav-link:focus {
  background-color: var(--hover-color);
}
.nav-button:hover,
.nav-button:focus {
  background-color: var(--hover-color);
  color: var(--white-color);
}
.nav-button {
  cursor: pointer;
}
.portfolio-elements {
  width: 370px;
  height: 404px;
  left: 615px;
  top: 696px;

  background: var(--white-color);
  border: 1px solid var(--portfolio-elements);
  box-sizing: border-box;
}
.portfolio-elements > .title-elements {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: var(--basic-color-text);
}
.portfolio-elements > .text-elements {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;

  color: var(--complementary-color-text);
}
.footer {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;
  background-color: var(--footer-backgraund-color);
}
.address {
  font-style: normal;
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--white-color);
}
